/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
/*section2 STARTUP PROJECTS-- {.overflow-y-bar} + {#dottedCubic}*/
  /*--            --*/
    .child_section{
      width: 74.4%;
      height: 92.8%;
    }
  /*-- W-H Child  --*/
    .text > p{
        font-size: 3.5vw
    }
    .text > ul >li{
        font-size: 3.5vw;
        width: 50%
    }
    .mouse_pad > a > img{
        width: 90%
    }
    /*Text Animation*/


    /*scroll-list + Raket*/
    .overflow-y-bar{
       width: 40.7%;
        height: 39.5%;
    }
    .overflow-y-bar > ul > li{
        font-size: 1em;
         line-height: 3vw
    }
    .overflow-y-bar > ul li a{
        color: #ffffff;
    }
    #dottedCubic{
        width: 48%;
        height: 54%;
    }
    #dottedCubic > article > h2{
        font-size: 2vw;
    }
    .text_container > p{
        width: 90%;
        font-size: 1.8vw;
    }
    #dottedCubic > article > button{
        width: 38%;
        height: 18%;
        font-size: 0.9em;
    }
    #dottedCubic > legend > article > img{
       width: 37%;
  } /*end*/


    /*section3 ned Help*/
    #needHelp > section > article > span:last-of-type{
        font-size: 2.2vw;
    }
    #needHelp > section > article > span:first-of-type {
      font-size: 1.6vw
}
    #GetStarted{
        width: 170px;
        height: 43px;
        font-size: 1.7vw
    }/*end*/


    /*section4 subsCribe */
  #subsCribe > section > h2 {
    font-size: 2.3vw;
  }
  .wise_words {
    background-size: cover;
    background-position: center;
    margin-top: 5%;
  }
  .wise_words > article {
    margin-left: 10%;
  }
  .wise_words > article h2 {
    font-size: 2.2vw;
    font-weight: 100;
  }
  .wise_words > article span {
    font-size: 1.4vw;
  }
  #userContact > input {
    height: 44px;
  }
  #userContact input:last-child {
    font-size: 1.9vw;
    margin-top: 2%;
  }
  .be_informed h3 {
    font-size: 1.6vw;
      margin-top: -2%
  }
  .be_informed > p {
    font-size: 1.4vw;
  }
}









@media only screen and (min-width:320px) and (max-width:768px){

 /*                  */
    .child_section{
     width: 91.1%;
     height: 100vh;
  /*  H-W Child-sectio */

    }

    /*Text Animation*/
    .text > p{
        font-size: 5.3vw
    }
    .text > ul > li{
        font-size: 5vw
    }
    .word{
        width: 60%
    }
 .letter {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(25px);
  transform: translateZ(25px);
  -webkit-transform-origin: 50% 50% 25px;
  transform-origin: 50% 50% 25px;
}
.letter.out {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.letter.behind {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.letter.in {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.999s cubic-bezier(0.19, 0.5, 0.302, 1.2075);
  transition: -webkit-transform 0.999s cubic-bezier(0.19, 0.5, 0.302, 1.2075);
  transition: transform 0.999s cubic-bezier(0.19, 0.5, 0.302, 1.2075);
  transition: transform 0.999s cubic-bezier(0.19, 0.5, 0.302, 1.2075), -webkit-transform 0.999s cubic-bezier(0.19, 0.5, 0.302, 1.2075);
}

/*    Mobile*/
    
    #implementedProjects > section{
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:reverse;
        -ms-flex-direction:column-reverse;
        flex-direction:column-reverse;
        -ms-flex-line-pack:stretch;
        align-content:stretch;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    #dottedCubic{
        width: 50vw;
        height: 55vw;
    }
    #dottedCubic >legend > article{
        width: 38vw
    }
    .text_container {
        height:60% 
    }
    .text_container > h2{
        font-size: 3.5vw;
    } 
    .text_container > span{
        width: 40%
    }
    .text_container > p{
        font-size: 2.6vw;
        width: 45vw
    }
    .text_container > button{
        font-size: 2.5vw;
        margin-top: -3vw
    }
     .overflow-y-bar{
        width: 50vw;
        height: 56vw
    }
    .overflow-y-bar > ul > li{
        font-size: 2.6vw;
        line-height: 5vw
    }


    /*nedHelp*/
    #needHelp section{
        background-size: 78%;
        min-height: 540px;
        /*Minimum Height it's nedHelp > section*/
    }
    #needHelp > section > article{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
    #needHelp > section > article > span:first-of-type{
        font-size: 2.1vw
    }
    #needHelp > section > article > span:last-of-type{
        font-size: 3vw
    }
    #GetStarted{
        width: 35.9%;
        height: 7vw;
        font-size: 3.1vw;
        margin: 9% auto
    }
    .floating_img > img:nth-child(1){
        top: 31%;
        width: 8.5%;
        /*Android*/
    }
    .floating_img > img:nth-child(2){
        width: 7%;
        left: 30%;
        bottom: 15%;
        /* C# */
    }
    .floating_img > img:nth-child(3){
        width: 6.8%;
        top: 65%;
        left: 14%;
        /* CSS */
    }
    .floating_img > img:nth-child(4){
        width: 12%;
        bottom: 30%;
        right: 20%;
        /*PHP*/
    }
    .floating_img > img:nth-child(5){
        width: 7.9%;
        top: 27%;
        right: 25%
        /*Pytone*/
    }
    .floating_img > img:nth-child(6){
        width: 6.8%;
        right: 6%;
        top: 50%;
        /*HTML*/
    }
    .floating_img > img:nth-child(7){
        top: 15%;
        width: 7%;
        left: 35%;
        /*C++*/
    }
     /*nedHelp  END*/

    /*    */

    /*    */
    /* OurCurses */
    #OurCurses{
      min-height: 740px;

    }
    #OurCurses > section{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 620px;
    }
    #OurCurses > section > h2 {
  font-size: 1.5em;
}
  #OurCurses > section > article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 75%;
  }
#OurCurses > section > article > section:nth-child(1){
  width: 330px;
  max-width: 100%;
  height: 70%;
  border-radius: 10px 10px 0 0;
}
#OurCurses > section > article section:nth-child(2){
  width: 330px;
  max-width: 100%;
  height: 30%;
  text-align: center;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#OurCurses > section > article section:nth-child(2) button{
  width: 45%;
  height: 55%;
  line-height: 5%;
  font-size: 0.8em;
  margin: 0;
  border-radius: 5px;
}
  #OurCurses > section > article section:nth-child(2) article{
    display: none;
  }
  #OurCurses > section > article > section:nth-child(1) > article:nth-child(1) > img{
    width:9%;
    margin: 0;
  }
  #OurCurses > section > article > section:nth-child(1) > article:nth-child(1) > h3{
    margin: 2% 0 ;
    display: block;
    font-size: 1em;
  }

  /* ----------------- */

    /*Alber :) */
    #subsCribe{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 600px;
    }
    #subsCribe > section{
        min-height: 560px;
         /*Minimum Height it's #subsCribe > section*/
    }
    .child_section{
         display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack:distribute;
        justify-content:space-around; 
    }
    .wise_words{
        height: 28.6%;
        background-size: cover;
        width: 100%;
        background-image: url(../img/aphorisms/Albert%20Eynshten2.png);
        background-size: cover;    
    }
    .wise_words > article{
        margin-left: 13%;
    }
    .wise_words > article h2{
        font-size: 4vw;
        font-weight: 100;
    }
    .wise_words > article span{
        font-size: 2.4vw;
        padding-top: 4%;
    }
    #subsCribe > section > h2{
        font-size: 5.0vw;
        margin: 0;
        padding: 0
    }
    #userContact > input{
       width: 64%;
       padding: 0
    }
    #userContact input:last-child{
        width: 44%;
        margin-top: 3%;
        height: 6.6vw;
        font-size: 3.4vw;
    }
    #userContact > span{
        width: 64%;
    }
    .be_informed {
        margin-top: 0;
    }
    .be_informed > h3{
        font-size: 3vw
    }
    .be_informed > p{
        font-size: 2.3vw;
        margin-top: 0;
        margin-top: -2%
    }
    .be_informed > button{
        height: 40px;
        line-height: 39px;
         padding-left: 40px;
    }
    .be_informed > button span{
        width: 35px;
        -webkit-box-shadow: 1px 1px 1px  #1f376a;
        box-shadow: 0px 1px 1px  #1f376a;
    }
}











/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */

}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}
