.content {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: 'Nunito', sans-serif;
  font-size: 2.2em;
  line-height: 40px;
  color: #ecf0f1;
}
.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 30px;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.content__container__list {
  margin-top: 0;
  padding-left: 170px;
  text-align: left;
  list-style: none;
  color: #ee0102;
  -webkit-animation-name: change;
  -webkit-animation-duration: 23s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  -webkit-animation-duration: 23s;
  animation-duration: 23s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}


@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes change {
  
  0% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  
  10% {
            -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
  }
  
  20% {
            -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  
  30% {
            -webkit-transform: translate3d(0, -30%, 0);
            transform: translate3d(0, -30%, 0);
  }
  
  40% {
            -webkit-transform: translate3d(0, -40%, 0);
            transform: translate3d(0, -40%, 0);
  }
 
  60% {
            -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  70% {
            -webkit-transform: translate3d(0, -60%, 0);
            transform: translate3d(0, -60%, 0);
  }    
  80% {
            -webkit-transform: translate3d(0, -70%, 0);
            transform: translate3d(0, -70%, 0);
  }   
  90% {
            -webkit-transform: translate3d(0, -80%, 0);
            transform: translate3d(0, -80%, 0);
  }
  100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  
}
@keyframes change {
  
  0% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  
  10% {
            -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
  }
  
  20% {
            -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  
  30% {
            -webkit-transform: translate3d(0, -30%, 0);
            transform: translate3d(0, -30%, 0);
  }
  
  40% {
            -webkit-transform: translate3d(0, -40%, 0);
            transform: translate3d(0, -40%, 0);
  }
 
  60% {
            -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  70% {
            -webkit-transform: translate3d(0, -60%, 0);
            transform: translate3d(0, -60%, 0);
  }    
  80% {
            -webkit-transform: translate3d(0, -70%, 0);
            transform: translate3d(0, -70%, 0);
  }   
  90% {
            -webkit-transform: translate3d(0, -80%, 0);
            transform: translate3d(0, -80%, 0);
  }
  100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  
}
