                                 /*Responsive web design*/
                                       /*-Media-*/

                    /*M-(1) iPad --> max-width-1024 end end min-width-768*/
                   /*M-(2) iPone --> max-width-768 end min-width-320*/


@media only screen and (min-width : 768px) and (max-width : 1024px){//.
    /*Child section Width end Height*/
     .child_section{
      width: 74.4%;
      height: 92.8%;
    }
//    ------------------------------
        /*style Header: text Animation*/
    .text{
        >p{
            font-size: 3.5vw;
        }
        >ul>li{
            font-size: 3.5vw;
            width: 50%;
        }
    }
     .mouse_pad > a > img{
        width: 90%;
    }
    /*Vazgen du qon@ stex gri*/
    
//    section2 scroll-list + Raket;
    .overflow-y-bar{
        width: 40.7%;
        height: 39.5%;
        >ul>li{
            font-size: 1em;
            line-height: 3vw
        }
    }
    #dottedCubic{
        >legend>article>img{
            width: 37%;
        }
        width: 48%;
        height: 54%;
        >article{
            h2{
              font-size: 2vw;
            }
            >button{
                width: 38%;
                height: 18%;
                font-size: 0.9em;
            }
        }
    }
    .text_container > p{
        width: 90%;
        font-size: 1.8vw;
    }
    
//    section3 ned Help
    #needHelp>section>article:first-child{
        >span{
            font-size: 1.6vw;
        }
    }
     #needHelp>section>article:last-of-type{
        >span{
            font-size: 2.2vw;
        }
    }
    #GetStarted{
        width: 170px;
        height: 43px;
        font-size: 1.7vw
    }
    
    
}//.
