body{
    background-color: black;
}
.wrapper {
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: 0.8s -webkit-transform ease-in-out;
  transition: 0.8s -webkit-transform ease-in-out;
  transition: 0.8s transform ease-in-out;
  transition: 0.8s transform ease-in-out, 0.8s -webkit-transform ease-in-out;
  -webkit-transition: 0.8s transform ease-in-out;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  
}

.page.active { opacity: 1; }

.vertical-align {
  position: relative;
  height: 160px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
}

.wrap {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
}

.page .wrap p {
  font-size: 18px;
  margin: 20px auto;
  width: 70%;
  opacity: .5;
  letter-spacing: 1px;
}

.navigator-on {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  height: 100vh;
  z-index: 2;
  display: none;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  cursor: pointer;
}

.navigator-on > div > ul {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 300px;
  height: 360px;
  transform: rotateX(180deg) scale(0);
  -webkit-transform: rotateX(180deg) scale(0);
  -webkit-transform-origin: top;
  transform-origin: top;
  opacity: 0;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 1s all ease-in-out 0s;
  -webkit-transition: 1s all ease-in-out 0s;
}

.navigator-on > div > ul.active {
  transform: rotateX(0deg) scale(1.6);
  -webkit-transform: rotateX(0deg) scale(1.6);
  opacity: 1;
  -webkit-transform-origin: top;
  transform-origin: top;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 1s all ease-in-out 0.5s;
  -webkit-transition: 1s all ease-in-out 0.5s;
}

.navigator-on >div > ul > li { margin: 20px 0; }

.navigator-on>div > ul > li > a {
  color: #fff;
  font-size: 40px;
}
.navigator-on>div > ul > li > a:hover{
    color: red
}

.menu {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
    width: 50px;
    position: absolute;
    width: 33px;
    margin-left: -20px;
    height: 33px;
    padding-left: 3px;
}

.menu:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: rgba(255,255,255,0.5);
  font-size: 10px;
  letter-spacing: 1px;
    padding: 5px
}

.menu.active:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: rgba(255,255,255,0.5);
  font-size: 10px;
  letter-spacing: 1px;
}

.menu > span {
  height: 2px;
  background: #fff;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
}

.menu > span:after, .menu > span:before {
  content: "";
  height: 2px;
  background: #fff;
  display: block;
  width: 100%;
  position: absolute;
  -webkit-transition: 0.2s top ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out;
  transition: 0.2s top ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out;
  transition: 0.2s top ease-in-out 0.2s, transform 0.2s ease-in-out;
  transition: 0.2s top ease-in-out 0.2s, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transition: 0.2s top ease-in-out 0.2s, transform 0.2s ease-in-out;
}

.menu > span:after { top: -10px; }

.menu > span:before { top: 10px; }

.menu.active > span { background: transparent; }

.menu.active span:before, .menu.active span:after {
  -webkit-transition: 0.2s top ease-in-out, -webkit-transform 0.2s ease-in-out 0.2s;
  transition: 0.2s top ease-in-out, -webkit-transform 0.2s ease-in-out 0.2s;
  transition: 0.2s top ease-in-out, transform 0.2s ease-in-out 0.2s;
  transition: 0.2s top ease-in-out, transform 0.2s ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out 0.2s;
  -webkit-transition: 0.2s top ease-in-out, transform 0.2s ease-in-out 0.2s;
}

.menu.active span:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu.active span:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.section-wrap {
 
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.8s all ease-in-out;
  transition: 0.8s all ease-in-out;
    opacity: none}

.section-wrap.active {
    opacity: 0.5;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
}
section.active { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
section{
    
}

